<div class="row">
    <div class="col-md-12">
        <h2>This is a dummy example</h2>
        <ul id="dummy-list"></ul>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/values",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (index, value) {
                        $("#dummy-list").append("<li>" + value + "</li>");
                    })
                }
            });
        })
    </script>
}